@import "./mixin";

@include responsive_sm() {
  .trangchu {
    .dexuat_box {
      bottom: -5% !important;
      width: 62% !important;
      left: 20% !important;
      height: 90%;
    }
  }
}

@include responsive_sm() {
  .card {
    width: 60%;
    margin: 20px auto !important;
  }
}

@include responsive_md() {
  .carousel {
    .img_slide {
      max-height: 500px !important;
    }
  }
}

@include responsive_sm() {
  .carousel {
    .img_slide {
      max-height: 450px !important;
    }
  }
}

///appSmartphone

@include responsive_lg() {
  .footer_content {
    .footer__app {
      img {
        max-width: 320px !important;
        max-height: 240px !important;
      }
    }
  }
}
@include responsive_md() {
  .footer_content {
    .footer__app {
      img {
        margin-top: 0 !important;
      }
    }
  }
}
